.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-height-header);
    padding: var(--default-layout-padding-header);
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-bottom: 1px solid #e8ebed;


}

.inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
}

.logo-heading {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 16px;
}



.logo,
.search,
.action {
    flex: 1;
}
// Action
.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-btn-text {
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 16px;
    padding: 8px;
}

.action-btn {
    padding: 8px;
    font-size: 2rem;
    color: #707070;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.user-avatar {
    width: 9em;
    height: 9em;
    font-size: 3.5px;
    margin-left: 12px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    background-color: transparent;
}


.more-btn {
    font-size: 2rem;
    margin-left: 18px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}