.wrapper {    
    --button-color: #f05123 ;
    --text-button-color: #fff ;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: var(--text-button-color);
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    
}

.primary {
    background-color: var(--button-color);
    color: var(--text-button-color);

    &:hover {
        opacity: 0.9;
    }
}

.text {
    &:hover{
        background-color: rgba(22, 24, 35, 0.06);;
    }
}

.outline {
    color: var(--button-color);
    border-color: currentColor;
    

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }

}

.rounded {
    border-radius: 999px;
}

.title + .icon, .icon + .title {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}