.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--default-layout-padding-header);
}

.container {
    width: 100%;
    display: flex;
    margin-top: var(--default-layout-height-header);
}

.content {
    flex: 1;
    max-width: calc(100% - 96px);
}